body {
    height: auto;
    min-height: 100% !important;
}

.bg-primary {
    background-color: #92a4ac;
}

.product-table {
    margin-top: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.product-table th{
    color: white;
    background-color: #677e74;
    text-align: center;
}

.product-table td {
    padding: 1%;
    text-align: center;
    overflow: hidden;
}

.product-table tr:nth-child(even) {background-color: #f2f2f2;}

.user-table {
    margin-top: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.user-table th{
    color: white;
    background-color: #677e74;
    text-align: center;
}

.user-table td {
    padding: 1%;
    text-align: center;
    overflow: hidden;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;}

.shoppingCartBackground {
    position: fixed; /* Sit on top of the page content */
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index:1;
    display:none;
}

#shoppingCartBody {
    overflow: auto;
}

.shopping-cart-container{
    position: fixed; /* Sit on top of the page content */
    top: 5vh;
    left: 12vw;
    height: 75vh;
    width: 75vw;
    z-index: 10;
    display:none;
}

.shopping-cart {
    width:100%;
    height: 100%;
    border: 1px solid black;
    opacity: 1.0;
}

#payment-box {
    height: 100%;
    border-top: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
    opacity: 1.0;
}

#paymentBoxBody {
    height: 80%;
    overflow: auto;
}

#payment-form {
    width:100%;
}

.cart-table td{
    padding: 10px;
}

.form-box{
    width: 40%;
    margin: 5% auto;
    border-radius: 5px;
    border: 1px solid;
    overflow: hidden;
    padding-bottom:0;
}

form {
    padding: 5% 3%;
}

label {
    display: inline-block;
}

.form-control {
    background-color: rgba(255,255,255, .6);
}

.form-control:hover, .form-control:focus {
    background-color: #ffffff;
    border-color: #677e74;
    box-shadow:none;
}

#form-submit {
    width: 30%;
    border: 1px solid #92a4ac;
    border-radius: 5px;
    overflow: auto;
}

::placeholder {
    color: rgba(103, 126, 116, .5) !important;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.store-row {
    height: 40%;
    margin: 2% 0;
    flex-wrap: wrap;
}

.item-box {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}

.image-row img {
    object-fit: contain;
    margin: 0 auto;
    min-height: 100%;
}

.item-box .image-row{
    padding: 1% 0;
    margin: 0 auto;
    height: 70%;
    border-bottom: 2px solid;
}

.item-box .item-info-row {
    display:table;
    border-bottom: 2px solid;
    margin: 0 auto;
    height: 15%;
}

.item-box .item-select-row {
    display:table;
    margin:0;
    padding: 1% 0;
    width:100%;
}

.item-box .item-select-col {
    display:table-cell;
    margin: 1% auto;
    padding:0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.item-box .item-info-col {
    display:table-cell;
    text-align:center;
    vertical-align: middle;
}

.navbar-brand:hover {
    background-color: transparent;
}

.delete-button:hover {
    background-color: #c82333;
    border: 1px solid #c82333;
}

.notification-box {
    padding: 5px;
    position: fixed;
    border: 1px solid #677e74;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
    display: none;
    background: #677e74;
    top: 2%;
    left: 38%;
    z-index: 11;
 }

@-webkit-keyframes fadeinout {
    50% { opacity: 1; }
}

@keyframes fadeinout {
    50% { opacity: 1; }
}



